.post-header-bg{
    background-image: url('../images/post-bg.jpg');
}
.textarea-min-height {
    min-height: 300px;
}
img{
    width: 100%;
}
#myEditor{
    width: 100% !important;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #abcdef;
}
