.home-header,
.book-header-bg {
  background-image: url('../../public/images/home-bg.jpg');
}
.contact-bg {
  background-image: url('../../public/images/contact-bg.jpg');
}
.about-bg {
  background-image: url('../../public/images/about-bg.jpg');
}
